@import url('https://fonts.googleapis.com/css?family=Mansalva|Tangerine|Meddon|Playfair|Sniglet|Baumans|Red+Hat+Display&display=swap');

*, *::before, *::after {
	box-sizing:border-box;
	padding:0;
	margin:0;
}

html, main {
	height: 100%;
	width: 100%;
}
		
a, a:visited {
	text-decoration:none;
}

.area {
	margin:0 6px;
}
.body {
	background-image:;
	background-position:;
	background-size:;
	background-repeat:;
	color:#8f8f8f;
	background-color:#002a00;
}


.main{
	display: flex;
	flex-direction: column;
	flex-wrap:wrap;
	width: 100% ;
}

section {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items:baseline;
	max-width: 100%;
}


nav {
	display: inline-block;
	position: sticky;
	position: -webkit-sticky;
	top:10px;
	margin-bottom: 1rem;
	z-index: 1;
}

.menu-item {
	display: inline-block;
	margin: 2px 3px 2px 2px;
	padding: 4px 10px 3px;
	color:#008600;
	font-family:"Tms Rmn",Times,serif;
	font-size:12pt;
	line-height:12pt;
	border-top:1px solid #008600;
	border-right:1px solid #008600;
	border-bottom:1px solid #008600;
	border-left:1px solid #008600;
	border-radius:15px;
}

.menu-item:hover {
	background-color:#002a00;
	color:#008600;
}
/* up icon */
.menu-item#uplink {
	background-image: url("../res/up-icon.png");
	background-size:14px;
	background-repeat:no-repeat;
	background-position: center;
}

.langs {
	color:#ffff00;
	font-family:Monotype Corsiva,Constantia,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif;
	font-size:14pt;
	line-height:14pt;
	font-weight:900;
	border:none;
}

.header {
	color:#000000;
	font-family:"Tms Rmn",Times,serif;
	font-size:12pt;
	line-height:12pt;
	border:none;
}


.falconG {
	margin-left: 10px;
	display:inline-block;
	color:#00bd00;
	font-family:"Tms Rmn",Times,serif;
	font-size:12pt;
	line-height:12pt;
	border:none;
}

.gallery-title {
	color:#d6d6d6;
	font-family:Baumans;
	font-size:28pt;
	line-height:36pt;
	text-align:center;
	border:none;
	cursor: pointer;
}

.gallery-desc {
	color:#b5b5b5;
	font-family:"Tms Rmn",Times,serif;
	font-size:12pt;
	line-height:12pt;
	text-align:center;
	border:none;
	cursor: pointer;
}

.fgsection {
	margin: auto;
	padding:24pt;
	color:#00b800;
	font-family:"Tms Rmn",Times,serif;
	font-size:24pt;
	line-height:24pt;
	text-align:center;
	border:none;
	cursor: pointer;
}

fgsection::first-line {
	font-size:36pt;
}

/* ---- img----- */
.img-container {
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	position: relative;
}

.img-container > div {
	position:relative;
}

.img-container img {
	display:block;			/* get rid of bottom space */
	margin:auto;
	max-width:99vw;
}

.thumb{
	display: inline-block;
	padding: 1px;
	margin: 0 2;
	/*	padding:2px; */
	border:1px dashed #ffd460;
    cursor:pointer;
}	

.thumb::after {
	position:absolute;
	bottom:0px;
	left:50%;
	content:"falconG Watermark";
	color: rgba(255,255,255,0.5);
}


[data-src] {
	min-width:600px;
	min-height:400px;
}
.title:hover{
	font-weight: normal;
    font-style: italic;
}

.title {
	color:#ffaa7f;
	font-family:Monotype Corsiva,Constantia,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif;
	font-size:20pt;
	line-height:20pt;
	font-weight:900;
	text-align:center;
	border:none;
	cursor: pointer;
}

.desc {
	hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	color:#c6c6c6;
	font-family:Baumans;
	font-size:14pt;
	line-height:1;
	font-weight:900;
	text-align:center;
	border:none;
	cursor: pointer;
}

/* Lightbox */
.lightbox {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    z-index: 20;
    padding-top: 30px;
    box-sizing: border-box;
	overflow:auto;
}

#lb-flex {
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width: 100%;
    height: 100%;
}

.lightbox-caption { 
	display:none;
	color:#8f8f8f;
	font-family:"Tms Rmn",Times,serif;
	font-size:12pt;
	line-height:12pt;
	border:none;
}

.lightbox-desc {
	color:#8f8f8f;
	font-family:"Tms Rmn",Times,serif;
	font-size:12pt;
	line-height:12pt;
	border:none;
}

.footer {
	color:#8f8f8f;
	font-family:"Tms Rmn",Times,serif;
	font-size:12pt;
	line-height:12pt;
	text-align:center;
	border:none;
	cursor: pointer;
}

		 	/* -- media queries ***/
@media only screen and (orientation: landscape) {
	.img-container img {
		max-height: 95vh; 
	}
}

@media only screen and (min-width:700px) {
	.img-container img {
		max-width:99vw;
		height:400px;
	}

	p{
		font-size:12pt;
	}

	.gallery-desc {
		width:50vw;
		margin: auto;
	}
}

	/* large screens */
@media only screen and (min-width:1200px) {
	.img-container
	{
		max-width:99vw;
		flex-direction:column;
		padding:0 1px;
	}

	.desc {
		max-width:600px;
		margin:auto;
	}

	.gallery-desc {
		width:800px;
		margin:auto;
	}
}
