/* Header Style  first for mobile then for tablet and desktop*/
html,
body,main{
 background-color:#131c28;
}

.falconG{
 color:#a6d1ff;
}

.about{
	color:#ddd;
	margin:auto;
	}
h2.album-title{
 color:#dddddd;
}

.album-title,a:visited.album-title{
 color:#f07b3f;
}

.album-desc{
 color:#ffd460;
}

h2.desc{
 color:#ffd460;
}

a, a:visited{
 color:#ffd460;
}

a[name="images"],a[name="galleries"]{
 color:#f07b3f;
}

.folders p{
 color:#ffd460;
}

#images p{
 color:#ffd460;
}

footer{
 color:#ffd460;
}

.lightbox .caption {
   color:#f07b3f;
}
div.menu-line {
	position: -webkit-sticky;
   position: sticky;
   top : 10px;
   display:inline-block;
   margin-bottom:1rem;
}
div.menu-line a {
 color:#ffd460;
 background-color:rgba(45,64,89,0.3);
 border: 1px solid #ffaa00;
}
div.menu-line a:hover {
	color:rgba(45,64,89,0.3);
 background-color:#ffd460;
 border: 1px solid #ffaa00;
}

div.menu-line a.langs{
	color:#dddd00;
	background-color:rgba(0,0,0,0.1);
}
