@import url("https://fonts.googleapis.com/css?family=Raleway"); /*--- Nav Font --*/
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700|Raleway"); /*--- Heading Font --*/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #2c2c2c;
}

.lang-en {
  display:none;
}
.lang-hu {
  display:inline;
}

hr {
  width:2px;
}

.afalco {
  color:#fff;
  font-size:2em;
  margin-left: 10px;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 200%;
  font-weight: 800;
  color: #ddd;
  text-align: center;
  text-shadow: 0px 0px 20px #aaa;
}

a, a:visited {
  color: #fff;
  text-decoration: none;
  padding: 0 4px 2px 4px;
}

a.jump_link {
  text-decoration: none;
  padding: 0 4px 2px 4px;
}

a[name="images"], a[name="galleries"] {
  font-size:24pt;
  font-weight: bold;
  text-align: center;
  padding:1em 0 1em 0;
  color:#ddd;
}

.showhide {
  text-decoration:none;
  font-family:"Playfair Display", sans-serif, Arial;
  font-weight:bold;
  cursor: pointer;
  color: rgb(0,0,238);
}

p {
  color:white;
  font-size: 13px;
}

p.menu-line a {
  color: #fff;
  font-size: 13px;
  font-weight: 800;
  line-height: 18px;  
	background: #a90329;
	background: linear-gradient(#a90329 0%,#8f0222 44%,#6d0019 100%);
  border: 1px solid #6d0019;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: 800;
  line-height: 18px;
  margin: 2px 3px 2px 10px;
  padding: 4px 10px 3px;
  text-decoration: none;
}

a.facebook {
  display: inline-block;
  border: 1px solid #00266d;
  padding: 4px 10px 3px;
  font-size: 13px;
  line-height: 18px;
  margin: 2px 3px;
  font-weight: 800;
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow:0px 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  color:#fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #033aa9;
  background: linear-gradient(#033aa9 0%,#022a8f 44%,#00266d 100%);
}

a.doboz {
	display: inline-block;
	border: 1px solid #6d0019;
	padding: 4px 10px 3px;
	font-size: 13px;
	line-height: 18px;
	margin: 2px 3px;
	font-weight: 800;
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow:0px 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	color:#fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #a90329;
	background: linear-gradient(#a90329 0%,#8f0222 44%,#6d0019 100%);
}
a.doboz:hover {
	background: #6d0019;
	background: linear-gradient(top, #6d0019 0%,#8f0222 56%,#a90329 100%);
	-webkit-box-shadow: 0px 1px 1px rgba(255,255,255,0.9);
	-moz-box-shadow:0px 1px 1px rgba(255,255,255,0.9);
	box-shadow: 0px 1px 1px rgba(255,255,255,0.9);
}

header {
  text-align: left;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-family: Constantia,Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif;
  font-size: 8px;
}

header h2  {
  position: absolute;
  top: 10%;
  margin: 0 0 50px auto;
}

/* --- main section --*/
main {
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  width: 100%;
}
/* --- end main section --*/

#images, #folders {
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
  color:white;
}

/* ---- img----- */
.img-container, .gallery-container {
  display:flex;
  flex-direction: column;
  justify-content: stretch;
}

.desc{
  display:none;
  hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

.desc p {
  font-size: 1;
  line-height: 1;
}

.img-container .thumb , .gallery-container .thumb{
  max-width:100%; 
  flex-wrap: wrap; 
  flex-direction: row;
  padding: 10px;
}
img {
  display:block; /* enélkül nem működik a középre helyezés*/
  justify-content: center;
  margin:auto;
  max-width: 100%; 
}

div.links {
  display:flex; 
  width:100%;
  justify-content:space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
div.links a, .showhide {
  color:#a90329;
  text-decoration:none;
  font-family:"Playfair Display", sans-serif, Arial;
  font-weight:bold;
}

div.links a:hover, .showhide:hover {
  /*text-decoration: underline;*/
  color: white;
  background-color: gray;
  font-weight: 700;
}

/* -- media queries ***/
@media only screen and (min-width:700px) {
  .img-container, .gallery-container 
  {
    max-width:250px; 
    justify-content: flex-end;
    flex-direction: column;
    padding:0 3px 0 3px;
  }
  img { max-width: 100%; max-height:267px; }
  p{font-size: 12pt}
  main{display:flex; flex-direction: column;}
}

/* large screens */
@media only screen and (min-width:1200px) {
  .img-container, .gallery-container 
  {
    max-width:400px; 
    justify-content: flex-end;
    flex-direction: column;
    padding:0 3px 0 3px;
  }
  img { max-width: 100%; max-height:267px; }
  p{font-size: 12pt}
  main{display:flex; flex-direction: column;}
}
